# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.dSYM/

# Unkown
*.plg
*.bak

#2015-10-09-23:47 LIUXIN
#2016-10-10-22:57 LIUXIN
#2015-10-13-21:37 MENTOS
